.cart-title{
    margin-bottom: 5px;
}
.cart-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cart-item{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px 25px;
    background-color: white;
    border-radius: 15px;
}
.cartBtn{
    margin-top: 10px;
    cursor: pointer;
}