@if(filterType === 'todo'){
    <div class="todoFilter">
        <select [(ngModel)]="filterTodo" (change)="setFilter()">
            <option value="all">all</option>
            <option value="completed">completed</option>
            <option value="inCompleted">inCompleted</option>
        </select>
    </div>
} @else {
    <div class="recipeFilter">
        <select [(ngModel)]="filterRecipe" (change)="recipeFilter()">
            <option value="none">none</option>
            <option value="date">сортувати за датою</option>
        </select>
    </div>
}
