::ng-deep table .mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
  padding-left: 6px;
  padding-right: 6px;
}
::ng-deep table .mat-mdc-chip-set .mdc-evolution-chip {
  margin: 0;
  height: 25px;
}

::ng-deep table .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
  padding: 2px 0px;
  display: flex;
  justify-content: center;
  gap: 2px;
  margin: 0;
}
.tag {
}
