<h2 mat-dialog-title>Редагувати продукт</h2>
<mat-dialog-content class="modalContent">
    <mat-form-field>
        <mat-label>Назва</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field> 
      <mat-form-field>
        <mat-label>Ціна</mat-label>
        <input type="number" matInput [(ngModel)]="price">
      </mat-form-field>  
      <mat-form-field>
        <mat-label>Знижка (%)</mat-label>
        <input type="number" matInput [(ngModel)]="discount">
      </mat-form-field>  
      <mat-form-field>
        <mat-label>SKU</mat-label>
        <input matInput [(ngModel)]="sku">
      </mat-form-field>      
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Скасувати</button>
  <button mat-button class="btnModal" (click)="handleEdit()" >Зберегти</button>
</mat-dialog-actions>
