@if(data.mode === 'edit'){
<h2 mat-dialog-title>Редагувати продукт</h2>
<div class="tabs">
  <p
    class="tab"
    [ngClass]="tab === 'form' ? 'active' : ''"
    (click)="setTab('form')"
  >
    Product
  </p>
  <p
    class="tab"
    [ngClass]="tab === 'cat' ? 'active' : ''"
    (click)="setTab('cat')"
  >
    Category
  </p>
</div>
<mat-dialog-content>
  @if(tab === 'form'){
    <form [formGroup]="editForm" class="modalContent">
    <mat-form-field>
      <mat-label>Назва</mat-label>
      <input matInput
      formControlName="name"
      type="text"
      (blur)="updateErrorMessage('name')"
      />
      @if(editForm.controls.name.invalid){
        <p class="error">{{ errors.name }}</p>
        }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ціна</mat-label>
      <input matInput 
      formControlName="price"
      type="number"
      (blur)="updateErrorMessage('price')"
      />
      @if(editForm.controls.price.invalid){
        <p class="error">{{ errors.price }}</p>
        }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Знижка (%)</mat-label>
      <input matInput
      formControlName="discount"
      type="number"
      (blur)="updateErrorMessage('discount')"
      />
      @if(editForm.controls.discount.invalid){
        <p class="error">{{ errors.discount }}</p>
        }
    </mat-form-field>
    <mat-form-field>
      <mat-label>SKU</mat-label>
      <input matInput
      formControlName="sku"
      type="text"
      placeholder="sku000"
      (blur)="updateErrorMessage('sku')"
      />
      @if(editForm.controls.sku.invalid){
        <p class="error">{{ errors.sku }}</p>
        }
    </mat-form-field>
    </form>

  }@else if(tab === 'cat'){
  <prod-modal-tree (dispatchCategory)="getCategoty($event)" />
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Скасувати</button>
  <button mat-button class="btnModal" (click)="handleEdit()" [disabled]="!editForm.valid || !editForm.dirty">Зберегти</button>
</mat-dialog-actions>
} @else{
<h2 mat-dialog-title>Додати продукт</h2>
<mat-dialog-content class="modalContent">
  <mat-form-field>
    <mat-label>Назва</mat-label>
    <input required matInput [(ngModel)]="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ціна</mat-label>
    <input required type="number" matInput [(ngModel)]="price" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Знижка (%)</mat-label>
    <input required type="number" matInput [(ngModel)]="discount" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>SKU</mat-label>
    <input required matInput [(ngModel)]="sku" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Країна</mat-label>
    <input required matInput [(ngModel)]="country" placeholder="us uk ca de" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Теги</mat-label>
    <input
      required
      matInput
      [(ngModel)]="tags"
      placeholder="вводьте через кому"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Зображення</mat-label>
    <ngx-mat-file-input
      [(ngModel)]="image"
      valuePlaceholder="image"
      (change)="onFileSelected($event)"
    />
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Скасувати</button>
    <button
      mat-button
      class="btnModal"
      (click)="handleAdd()"
      [disabled]="!name || !price || !discount || !sku || !country || !tags"
    >
      Додати
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
}
