td {
  font-size: 12px;
  padding: 0;
}
th {
  padding: 0 5px;
  text-align: center;
}
tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
::ng-deep .mdc-data-table__content {
  display: block;
  overflow-y: auto;
  height: 418px;
}
::ng-deep .mdc-data-table__content {
  scrollbar-width: 2px;
}
::ng-deep .mdc-data-table__content::-webkit-scrollbar {
  width: 2px;
}
::ng-deep .mdc-data-table__content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
}
::ng-deep .mdc-data-table__cell.mat-column-SKU,
.mat-column-SKU {
  width: 10%;

  text-align: center;
}
::ng-deep .mat-column-name {
  width: 118px;
}
::ng-deep .mat-column-country {
  width: 10%;
}
::ng-deep .mat-column-action {
  width: 45px;
}
::ng-deep .mat-column-tag {
  width: 16%;
}
::ng-deep .mat-column-cat {
  width: 20%;
}
/* ::ng-deep .mat-column-price {
  width: 110px;
} */
