td{
    font-size: 12px;
    padding: 0 10px;
}
th{
    padding: 0 10px;
    text-align: center;
}
.productImg{
    width: 50px;
    height: 50px;
}
.countryFlag{
    width: 25px;
    height: auto;
    margin: 0 auto;
}
.nameCell{
    display: flex;
    align-items: center;
    gap: 10px
}
.priceCell{
    display: flex;
    align-items: center;
}
.burgerBtn{
    background-color: transparent;
    border: none;
    width: 35px;
    cursor: pointer;
}
.actionCell{
    position: relative;
    overflow: visible;
}
.actions{
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 2;
    background-color: #fff;
    padding: 10px 15px;
    width: 125px;
    box-shadow: 0px 2px 5px -1px #3f3f3f;
    border-radius: 5px;
}
.actionBtn{
    display: flex;
    gap: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
.btnContainer:not(:last-child){
    margin-bottom: 15px;
}
.actionImg{
    width: 15px;
}

::ng-deep table .mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
    padding-left: 6px;
    padding-right: 6px;
}
::ng-deep table .mat-mdc-chip-set .mdc-evolution-chip{
    margin: 0;
}
::ng-deep .mdc-evolution-chip-set__chips {
    gap: 4px;
}
.btnContainer{
    position: relative;
}
.tooltip-text {
    visibility: hidden;
    width: 80px; /* Ширина підказки */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Позиція підказки */
    left: 50%;
    margin-left: -40px; /* Центрування підказки */
    opacity: 0;
    transition: opacity 0.3s;
}

.btnContainer:hover .tooltip-text {
    visibility: visible;
    opacity: 1; /* Показати підказку при наведенні */
}