<div class="goods">
<h2 class="goods-title">Goods</h2>
<ul class="goods-list">
  @for(good of goods; track good.name){
    <li class="goods-item">
      <p class="item-name">{{ good.name }}</p>
      <p class="item-price">{{good.price | currency}}</p>
      
      @if(good.isAdded){
        <div class="item-actions">
          <button class="btn-action" type="button" (click)="handleAction(good, Action.INC)">+</button>
          <button class="btn-action" type="button" (click)="handleAction(good, Action.DEC)">-</button>
        </div>
      } @else{
        <button type="button" (click)="addGoods(good)" [disabled]="good.isAdded">
          add to cart
        </button>
      }
    </li>
  }
</ul>
</div>
