<div class="listWrapper">
  <h2>Todo List</h2>
  <ul>
    @for(todo of todos$ | async; track todo.id ){
    <li>
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> {{ todo.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ todo.description }}
          </p>
          <mat-checkbox
            class="example-margin"
            (change)="toggleComplete(todo.id)"
            [checked]="todo.completed"
            >Completed</mat-checkbox
          >
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="deleteTodo(todo.id)">Delete todo</button>
        </mat-card-actions>
      </mat-card>
    </li>

    }
  </ul>
  <button type="button" (click)="getStore()">get store</button>
</div>
